*,
*::before,
*::after {
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
}

html,
body {
    min-width: 20rem;
}

body {
    background-color: #1E1E1E;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img,
svg {
    display: block;
}

#app {
    padding: 2rem 1rem;
}
